@page
@model MooretrUniversity.Pages.AboutModel

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h1>
    Student Body Statistics
</h1>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    <!-- The table data is dynamic. See EnrollmentDateGroup.cs and About.cshtml.cs -->
    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
