@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-12">
        <div class="row no-gutters border mb-12">
            <div class="col p-12 mb-12">
                <h1 class="headers">
                    Welcome to the Moortr University Enrollment Tracker
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4">
                <p>    
                    Developed using Entity Framework Core in an ASP.NET Core Razor Pages Web app.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    This application was built by following this Microsoft tutorial series:
                </p>
                <p>
                    <a href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro">See the tutorial</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    You can download the source code for this project on GitHub:
                </p>
                <p>
                    <a href="https://github.com/tmoore2016/MooretrUniversity">See the source code</a>
                </p>
            </div>
        </div>
    </div>
</div>