@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Student data is protected by the Family Educational Rights and Privacy Act (FERPA).</p>
<p>The student records in the Mooretr University database are fictional, any resemblance to a student, living or dead, is purely coincidental.</p>
